.package-img {
  margin: 10px;
}

.package-img img {
  width: 100%;
  height: 100%;
}

.package-img img:hover {
  transform: scale(1.01);
  transition-property: transform;
  transition: 0.7s;
}

.package-content {
  width: 100%;
  font-size: 12px;

  padding: 7px 0px 7px 0px;
}
